.form-container {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #b1c9c2;
  padding: 5vh 10vw;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr auto;
  grid-template-areas:
    "input"
    "button";
}

.form-input {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 18px; 
  padding: 10px 20px;
  align-self: stretch;
  outline: none;
}

.form-btn {
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  margin: 10px 0;
}

.form-input:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-btn:hover {
  background-color: #0051a8;
}

.form-input:active {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.form-btn:active {
  background-color: #003d80;
}

@media screen and (min-width: 768px) {
  .form-input {
    font-size: 20px;
  }

  .form-btn {
    font-size: 20px;
    padding: 15px 30px;
  }
}
